<div class="title-card">
	<h2>History</h2>
</div>

<section class="page-content">

	{{#each data}}

	<h3><center>{{date}}</center></h3>

	<table class="history-table">
		{{!-- <tr>
			<th>Date</th>
			<th>Blood Glucose Level (nmol/L)</th>
			<th>Weight (kg)</th>
			<th>Insulin Doses Taken</th>
			<th>Steps Taken</th>
		</tr> --}}

		
		{{!-- <tr>
			<td>{{date}}</td>
			<td>{{glucose}}</td>
			<td>{{weight}}</td>
			<td>{{insulin}}</td>
			<td>{{exercise}}</td>
		</tr> --}}


		
		

		<tr>
			<th>Blood Glucose Level</th>
			<th>Weight</th>
		</tr>

		<tr>
			<td>{{glucose}} {{#if (dataEntered glucose)}}nmol/L{{/if}}</td>
			<td>{{weight}} {{#if (dataEntered weight)}}kg{{/if}}</td>
		</tr>
			
		<tr>
			<th>Insulin Doses Taken</th>
			<th>Steps Taken</th>
		</tr>

		<tr>
			<td>{{insulin}}</td>
			<td>{{exercise}}</td>
		</tr>

		
	</table>
	{{/each}}

</section>